#menu {
display:none;
}

table.generale {
border:0;
padding:0px;
margin-left: auto;
margin-right: auto;
width:800px;
background-color:white;
}
body {
background-image:url('images/texture_body.jpg');
background-color:white;
}
* {
font-family:verdana;
font-size:12px;
}
form {
width: 95%;
margin: 30px auto;
font-family: Verdana, Arial, sans-serif;
font-size: 0.8em;
}
form fieldset {
border: 1px solid #FF9F41;
padding: 10px;
background-color:#DEF1FF;
background-image:url('images/texture.jpg');
}
form legend { 
background-color: #FFEAB2; 
padding: 4px 4px; 
color: #0061A9;
font-size:12px;
font-weight:bold;
}
form div {
padding: 6px 8px;
}
form label {
display: block; 
float: left; 
width: 30%; 
font-weight:bold;
}
form div.center {
 text-align: center;
 }
form input {
width:65%;
background-color:#FFEAB2;
border:1px solid #FF9F41;
padding:2px;
}
form select, textarea {
background-color:#FFEAB2;
border:1px solid #FF9F41;
padding:2px;
}

p.message  {
text-align: center; 
}
.rouge {
color: #FF0000;
}
h1 {
font-family:verdana, arial;
font-size:14px;
}

li {
	padding:5px;
}
ul {
	margin:5px;
	margin-left:0px;
}
input[disabled] {
	font-weight:bold;
	background-color:#FFFFFF;
	border:none;
	color:red;
}


#menu ul {
	margin:2px;
	padding:0px;
	/**list-style:none;**/
	list-style-type:disc;
	list-style-position:inside;
}
#menu li {
	margin-bottom:5px;
}
#menu hr {
	border:1px solid #FF9F41;
	background-color:#FF9F41;
	/**background-image:url('http://www.medisite.fr/images/puce.gif');**/
	height:1px;
	width:100%;
}
#menu {
font-weight:bold;
padding:0px
margin:0px;
background-color:white;
width:120px;

}
#menu a {
text-decoration:none;
}
.menu {
border-right:1px solid #6BBEDE;
width:120px;
padding:2px;
}
div.nom {
	padding:2px;
	border:1px solid #6BBEDE;
}

h1 {
text-align:center;
width:100%
clear:both;
background-image:url('images/fond.jpg');
}